  <nav>
  <a routerLink="/stories" routerLinkActive="active" class="heading"> {{title}}</a>
  </nav>
  <nav>
  <ul> <li>
  <a routerLink="/new" routerLinkActive="active" >New</a>
  </li><li>
  <a routerLink="/best" routerLinkActive="active" >Best</a>
  </li><li>
  <a routerLink="/ask" routerLinkActive="active" >Ask</a>
  </li><li>
  <a routerLink="/show" routerLinkActive="active" >Show</a>
  </li><li>
  <a routerLink="/jobs" routerLinkActive="active" >Jobs</a>
  </li></ul>
  </nav>
  <router-outlet></router-outlet>
